@model ICollection<ClassSummaryViewModel>
@{
    ViewData["Title"] = "Proposed Classes";
}


<h2 style="text-align:center;"> @ViewData["Title"]</h2>

<form asp-action="FilterClassesByInstructorName" style="text-align:center">
    <label style="margin: 5px;">Search For Proposal By Instructor Name: </label><input type="text" name="InstructorName" />
    <input type="submit" class="btn btn-default" value="Search" />
</form>

<div class="table-responsive">
    
    <table class="table table-striped recipe">
        <thead>
            <tr>
                
                <th>Proposed Date</th>
                <th>Proposed Title</th>
                <th>Instructor Name</th>
                <th>City</th>
                <th>Proposal Reviewed</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var proposedClass in Model)
            {
            <tr>
                @if (proposedClass.InstructorName != null)
                {
                    <td>@proposedClass.ProposedDate</td>
                    <td>@proposedClass.ProposedTitle</td>
                    <td>@proposedClass.InstructorName</td>
                    <td>@proposedClass.City</td>
                    @if (proposedClass.IsReviewed)
                    {
                        <td style="text-align:center">Yes</td>
                    }
                    else
                    {
                        <td style="text-align:center">No</td>
                    }
                    <td><a asp-action="ProposedClassDetails" asp-route-id="@proposedClass.ProposedID" class="btn btn-default">View</a></td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>
