@model ICollection<ClassSummaryViewModel>
@{
    ViewData["Title"] = "ViewProposalsByInstructor";
}

<h2 style="text-align:center;"> @ViewBag.InstructorName's Proposals</h2>

<div class="table-responsive">

    <table class="table table-striped recipe">
        <thead>
            <tr>

                <th>Proposed Date</th>
                <th>Proposed Title</th>
                <th>Instructor Name</th>
                <th>City</th>
                <th>Proposal Reviewed</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var proposedClass in Model)
            {
                <tr>

                    <td>@proposedClass.ProposedDate</td>
                    <td>@proposedClass.ProposedTitle</td>
                    <td>@proposedClass.InstructorName</td>
                    <td>@proposedClass.City</td>
                    <td>@proposedClass.IsReviewed</td>
                    <td><a asp-action="ProposedClassDetails" asp-route-id="@proposedClass.ProposedID" class="btn btn-default">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>